<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                NTech Board - Latest posts
            {% endblock %}
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/ntechboard/css/main.css') }}" type="text/css" media="all">
            <link rel="stylesheet" href="{{ asset('bundles/ntechboard/css/shared/replies.css') }}" type="text/css" media="all">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/ntechboard/js/jquery.js') }}"></script>
            <script src="{{ asset('bundles/ntechboard/js/overlay.js') }}"></script>
            <script src="{{ asset('bundles/ntechboard/js/modal_loading.js') }}"></script>
            <script src="{{ asset('bundles/ntechboard/js/ajax.js') }}"></script>
            <script src="{{ asset('bundles/ntechboard/js/form_tools.js') }}"></script>
            <script src="{{ asset('bundles/ntechboard/js/html_tools.js') }}"></script>
            <script src="{{ asset('bundles/ntechboard/js/initialize.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        <div id="body-wrapper">

            <div id="overlay">
            </div>

            <div id="overlay-loading">
                <div class="wrapper">
                    <div class="message">
                    </div>

                    <div class="icon">
                    </div>
                </div>
            </div>

            <div id="message-response-form">
                <form name="message-response-form">

                    <div class="heading">
                        <div class="legend">
                            <div class="label">
                            </div>
                        </div>

                        <div class="close">
                            <span class="button"
                                  onclick="form_tools.message_response_form.hide()">
                                Close
                            </span>
                        </div>
                    </div>

                    <div class="element-row first-row">
                        <div class="left">
                            <div class="legend">
                            </div>

                            <div class="sublabel">
                            </div>
                        </div>

                        <div class="right">
                            <textarea name="message[messageText]" class="textarea"
                                      id="message-response-form-message-text" readonly></textarea>
                        </div>
                    </div>

                    <div class="element-row second-row">
                        <div class="left">
                            <div class="legend">
                            </div>

                            <div class="sublabel">
                            </div>
                        </div>

                        <div class="right">
                            <textarea name="message[responseText]" class="textarea"
                                      id="message-response-form-response-text" ></textarea>
                        </div>
                    </div>

                    <div class="footer">
                        <div class="save">
                            <button type="button" class="submit"
                                    id="message-response-form-submit">Add</button>
                        </div>

                        <div class="loading" id="message-response-form-loading">
                        </div>
                    </div>

                </form>
            </div>

            <div id="new-message-form">
                <form name="new-message-form">

                    <div class="heading">
                        <div class="legend">
                            <div class="label">
                                Add new message
                            </div>
                        </div>

                        <div class="close">
                            <span class="button"
                                  onclick="form_tools.new_message_form.hide()">
                                Close
                            </span>
                        </div>
                    </div>

                    <div class="element-row">
                        <div class="left">
                            <div class="legend">
                                Message text<span class="required">*</span>
                            </div>

                            <div class="sublabel">
                                Min length - 5 chars
                            </div>
                        </div>

                        <div class="right">
                            <textarea name="message[text]" class="textarea"
                                      id="new-message-form-text"></textarea>
                        </div>
                    </div>

                    <div class="footer">
                        <div class="save">
                            <button type="button" class="submit"
                                    id="new-message-form-submit"
                                    onclick='ajax.process_form("new-message-form",
                                                               "{{ path('add_new_message') }}",
                                                               false,
                                                               "new_message_form")'>Add</button>
                        </div>

                        <div class="loading" id="new-message-form-loading">
                        </div>
                    </div>

                </form>
            </div>

            <div id="header">
                {% if app.user %}
                    {% include 'NtechBoardBundle:Header:authorized.html.twig' %}
                {% else %}
                    {% include 'NtechBoardBundle:Header:unauthorized.html.twig' %}
                {% endif %}
            </div>

            <div id="content">
                <div id="page-header">
                    <h1>
                        {% block header %}
                        {% endblock %}
                    </h1>
                </div>

                {% block content %}
                    Main page
                {% endblock %}
            </div>

        </div>
    </body>
</html>