<div class="replies">
    {% for reply in replies %}
        <div class="reply">
            <div class="left">
                <a href="{{ path('view_profile', { username: reply.user.username }) }}">
                    {% if reply.user.avatar %}
                        <img src="{{ asset("bundles/ntechboard/img/uploads/" ~ reply.user.avatar) }}"
                             width="80" height="80" />
                    {% else %}
                        <div class="no-avatar">No avatar</div>
                    {% endif %}
                </a>
            </div>

            <div class="center">
                <div class="top">
                    <a href="{{ path('view_profile', { username: reply.user.username }) }}">{{ reply.user.username }}</a> replied:
                </div>

                <div class="bottom">
                    {{ reply.text }}
                </div>
            </div>

            <div class="right">
                <div class="label">
                    {{ reply.timeAgoLabel }}
                </div>

                <div class="sublabel">
                    {{ reply.timeAgoSublabel }}
                </div>
            </div>
        </div>

        <div class="reply-separator">
        </div>
    {% endfor %}

    <div class="reply-bottom-separator">
    </div>
</div>